:root {
  --aside-width: 400px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
  --primary-bg-color: #242424;
  --primary-color: #000000;
  --secondary-color: #e5d201;
  --third-color: rgba(255, 255, 255, 0.87);
}

body {
  color: var(--third-color);
  background-color: var(--primary-color);
}

.title-font-1 {
  font-family: 'Poppins', sans-serif;
}

.title-font-2 {
  font-family: 'Montserrat', sans-serif;
}

/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 500ms ease-in-out;
}

aside header {
  font-family: 'Poppins', sans-serif;
  align-items: center;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
  @media (max-width: 48em) {
    margin-left: 30px;
  }
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  font-size: 30px;
  color: var(--third-color);
  opacity: 0.8;
  text-decoration: none;
  transition: all 500ms;
  width: 20px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - 70%);
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay:target {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay:target aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background-color: var(--primary-color);
  display: flex;
  height: 22vh;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 30%;
}

.logo-img {
  width: 100%;
}

.header-menu-mobile-toggle {
  font-size: 30px;
  margin-left: 2vw;
  transition: color 0.5s ease;
  color: var(--third-color);
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile-toggle:hover {
  color: var(--secondary-color);
}

.nav-link {
  position: relative;
  display: flex;
  color: var(--third-color);
  font-size: 21px;
  align-items: end;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  max-width: 150px;
  border-bottom: 3px solid transparent;
  padding: 5px;
  transition: color 0.5s ease;
  font-family: 'Montserrat', sans-serif;
}

.nav-link:hover {
  color: var(--secondary-color);
}

.nav-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px; /* Height of the bottom border */
  background-color: var(--secondary-color);
  transition: width 0.5s ease; /* Transition for width */
}

.nav-link:hover::after {
  width: 110%; /* Expand the border width to 100% on hover */
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  @media (max-width: 48em) {
    margin-left: 30px;
  }
}

.header-menu-desktop {
  color: var(--third-color);
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 3rem;
  }
}

.header-ctas {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70px;
  margin-right: 20px;

  @media (max-width: 48em) {
    margin-left: auto;
    width: fit-content;
  }
}

/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
  min-height: 50vh;
}

.footer-logos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  @media (max-width: 912px) {
    display: none;
  }
}

.footer-logos-mobile {
  display: none;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 40px;
  @media (max-width: 912px) {
    display: flex;
    flex-direction: column;
  }
}

.footer-menu-missing {
  display: inline-block;
  margin: 1rem;
}

.footer-layout {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  padding: 40px;
  @media (max-width: 912px) {
    display: flex;
    flex-direction: column;
    padding: 10px;
    min-height: 100vh;
  }
}

.footer-menu {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  padding: 1rem;
  @media (max-width: 912px) {
    margin-bottom: auto;
  }
}

.footer-menu-info {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  padding: 1rem;
  @media (max-width: 912px) {
    margin-bottom: auto;
  }
}

.footer-menu > h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.footer-menu > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.footer-menu a {
  color: var(--color-light);
}

.footer-menu-info > h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
}

.footer-menu-info > h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
}

.footer-menu-info a {
  color: var(--color-light);
}

/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* max-height: calc(100vh - var(--cart-aside-summary-height)); */
  overflow-y: auto;
  width: auto;
}
/* 
.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
} */

.cart-line {
  display: flex;
  padding: 0.75rem 0;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  align-self: start;
  position: sticky;
  top: 6rem;
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 40vw;
  padding-left: 5vw;
  padding-right: 5vw;
  margin-left: auto;
  margin-right: auto;
  border-left: solid 3px var(--secondary-color);
  background-color: #00000080;
}

.cart-details-aside {
  display: flex;
  flex-direction: column;
  max-height: 50%;
  overflow-y: scroll;
}

.cart-details-page {
  padding-left: 3rem;
  padding-right: 3rem;
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.cart-summary-aside {
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--secondary-color);
  bottom: 0;
  padding: 0.75rem;
  position: absolute;
  width: calc(var(--aside-width) - 40px);
}

.cart-line-quantiy-aside {
  display: flex;
}

.cart-line-quantity-page {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
}
/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url('https://cdn.shopify.com/s/files/1/0643/3554/4485/files/recommendedBanner3.jpg?v=1709152902');
  background-position: center;
  background-size: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  width: 90vw;
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}

/* -------------------------------------------------
   TUTORIALES
   -------------------------------------------------
*/

.banner-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @media (max-width: 48em) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.tutorials-title {
  width: 60%;
  align-self: center;
  font-size: clamp(30px, 10vw, 80px);
  padding: 0.5rem;
  padding-left: 2.5rem;
  color: var(--secondary-color);
}

.last-image {
  @media (max-width: 48em) {
    display: none;
  }
}

.tutorials-filter-wrapper {
  width: 60%;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 48em) {
    width: 90%;
    display: flex;
    height: fit-content;
    align-items: baseline;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 10px;
  }
}

.selected-filter {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.3s ease;
  cursor: pointer;
  min-width: fit-content;

  background-color: var(--secondary-color);
  color: #000;
}

.selected-filter:hover {
  background-color: #e5d20191;
  color: #000;
}

.non-selected-filter {
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Roboto Mono', monospace;
  transition: all 0.3s ease;
  cursor: pointer;
  min-width: fit-content;
}

.non-selected-filter:hover {
  background-color: #e5d20191;
  color: #000;
}

.video-player {
  width: 100%;
  height: 100%;
  @media (max-width: 48em) {
    width: 95vw;
    height: 35vh;
  }
}

.tutorial-description-format {
  display: flex;
  @media (max-width: 48em) {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
}

.video-even-layout-true {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  background-color: var(--secondary-color);
  color: #000;
  @media (max-width: 48em) {
    display: flex;
    flex-direction: column;
  }
}

.video-even-layout-false {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  background-color: var(--primary-color);
  color: white;
  @media (max-width: 48em) {
    display: flex;
    flex-direction: column;
  }
}

.video-description {
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
  font-size: clamp(14px, 5vw, 20px);
  overflow-y: auto;
  max-height: 50vh;
}

.products-necesary-container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
  border-left-width: 2px;
  @media (max-width: 48em) {
    border-left-width: 0px;
  }
}

.scrollable {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: center;
  @media (max-width: 48em) {
    flex-direction: row;
    gap: 10px;
    overflow-x: auto;
  }
}

.video-container {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  height: 70vh;
  @media (max-width: 48em) {
    height: fit-content;
  }
}

/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-images {
  display: grid;
  grid-gap: 1rem;
}

.product-image img {
  height: auto;
  width: 100%;
  padding: 10px;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
  display: flex;
  flex-direction: column;
  width: 40vw;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 48em) {
    width: 90vw;
  }
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
  border: 3.5px solid #ffffff69;
  transition: border ease 0.5s;
}

.color {
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.bg-color-branded {
  background-position: left;
  background-image: url('https://cdn.shopify.com/s/files/1/0643/3554/4485/files/branded.png?v=1711909696');
}

.bg-color-punk {
  background-position: center;
  background-image: url('https://cdn.shopify.com/s/files/1/0643/3554/4485/files/punk2.jpg?v=1711909946');
}

.active-true {
  border: 3.5px solid var(--secondary-color);
}

.quantity-selector {
  display: flex;
  justify-content: center;
  cursor: pointer;
  border-radius: 3px;
  padding: 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.quantity-selector:hover {
  color: var(--primary-color);
  background-color: #e5d201;
}

/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/
.account-profile-marketing {
  display: flex;
  align-items: center;
}

.account-logout {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}
::-webkit-scrollbar-track {
  background: #888;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
  /* border-radius: 10px; */
  transition: background 0.5s ease;
}
::-webkit-scrollbar-thumb:hover {
  background: #e5d2019f;
}
