:root {
  --primary-bg-color: #242424;
  --primary-color: #000000;
  --secondary-color: #e5d201;
  --third-color: rgba(255, 255, 255, 0.87);
}

section {
  /* margin-bottom: 200px; */
  height: 100vh;
  /* height: fit-content; */
}

.full-container {
  background-color: #000000;
  display: flex;
  width: 100%;
  height: 100vh;
}

.image-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.small-logo {
  font-size: clamp(50px, 10vw, 90px);
  font-family: 'Montserrat', sans-serif;
  display: flex;
  margin-top: auto;
  width: 100%;
}

.H {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  width: 30%;
}

.T {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: auto;
  width: 30%;
}

.tape {
  margin-left: 10px;
  margin-right: 10px;
  width: 20%;
  transform: rotate(21deg);
}

.x-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.X {
  color: var(--secondary-color);
  font-size: clamp(30px, 5vw, 60px);
}

.medium-text {
  display: flex;
  text-align: center;
  width: 100%;
  margin-top: auto;
  margin-bottom: auto;
}

.medium-text > h3 {
  /* font-family: 'Montserrat', sans-serif; */
  font-size: clamp(25px, 3vw, 45px);
  margin: auto;
  color: #e5d201;
  text-shadow: 4px 4px 4px var(--primary-color);
}

.sport-tape-logo-container {
  width: 100%;
}

.sport-tape-logo {
  width: 100%;
}

.browse-button {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: auto;
  padding-bottom: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.browse-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px; /* Height of the bottom border */
  background-color: var(--secondary-color);
  transition: width 0.5s ease; /* Transition for width */
}

.browse-button:hover {
  color: var(--secondary-color);
}

.browse-button:hover::after {
  width: 110%; /* Expand the border width to 100% on hover */
}
.browse-button-2::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px; /* Height of the bottom border */
  background-color: var(--secondary-color);
  transition: width 0.5s ease; /* Transition for width */
}

.browse-button-2:hover {
  color: var(--secondary-color);
}

.browse-button-2:hover::after {
  width: 110%; /* Expand the border width to 100% on hover */
}

.pickup-info-text {
  font-size: 20px;
  @media (max-width: 912px) {
    font-size: clamp(12px, 3vh, 20px);
  }
}

.arrow-icon {
  font-size: 30px;
  @media (max-width: 912px) {
    font-size: clamp(18px, 3vw, 24px);
  }
}

.pickup-icon {
  width: 10vw;
  @media (max-width: 912px) {
    width: 20vw;
  }
}

.banner-selector {
  position: absolute;
  bottom: 10px;
  left: 45%;
}

.main-banner-carousel {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: center;
  max-width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  justify-content: flex-start;
  scroll-behavior: smooth;
  gap: 10px;
}

.main-banner-option {
  scroll-snap-align: start;
  scroll-snap-stop: always;
  min-width: 100vw;
  max-width: 100vw;
}

.pickup-info {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 50vw;
  background: rgba(0, 0, 0, 0.4);
  padding-left: 3rem;
  padding-right: 3rem;
  @media (max-width: 912px) {
    width: 100vw;
    padding-left: 7vh;
    padding-right: 7vh;
  }
}

.browse-button-2 {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  /* margin-bottom: auto; */
  padding-bottom: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.family-title {
  color: white;
  width: 100%;
  /* text-align: center; */
  font-size: clamp(30px, 5vw, 48px);
}

.family-container {
  position: relative;
  width: 100%;
  min-height: 600px;
  border-left-width: 8px;
  border-color: #000000;
  background: rgba(0, 0, 0, 0.3);
  padding: 40px;
}

.clubs-text {
  display: flex;
  margin-top: 2.5rem;
  align-items: center;
}

.club-text-p {
  color: white;
  font-size: 20px;
  line-height: 1.75rem;
  max-width: 50%;
}

.contact-button {
  position: relative;
  margin-top: 50px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  margin-bottom: auto;
  padding-bottom: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.contact-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px; /* Height of the bottom border */
  background-color: var(--secondary-color);
  transition: width 0.5s ease; /* Transition for width */
}

.contact-button:hover {
  color: var(--secondary-color);
}

.contact-button:hover::after {
  width: 110%; /* Expand the border width to 100% on hover */
}

.contact-swim-bg {
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  filter: blur(2px);
  background-position: center;
  background-size: cover;
  background-image: url('https://cdn.shopify.com/s/files/1/0643/3554/4485/files/SPORTTAPE02-samuelledwards-289.jpg?v=1711812316');
}

.image-container {
  flex: 1;
  backdrop-filter: blur(0.5px);
}

.flex-container-home {
  display: flex;
}

.mask {
  mask: linear-gradient(
    to left,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 12.5%,
    rgba(0, 0, 0, 0.2) 70%,
    rgba(0, 0, 0, 0) 100%
  );
}

.half-image {
  width: 50%;
}

.club-logo {
  width: 60%;
}

.clubs-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.kine {
  width: 100%;
  height: 100%;
  border-bottom: 5px sold var(--primary-bg-color);
}

.popular-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-items: center;
  background-image: url('https://cdn.shopify.com/s/files/1/0643/3554/4485/files/popularBanner3.jpg?v=1709069292');
  background-position: top;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.title-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: clamp(25px, 5vw, 40px);
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
  width: 100%;
  height: clamp(150px, 10vw, 253px);
  background-color: #00000067;
  /* height: 30%; */
}

.products-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
  border-top: 2px solid var(--primary-color);
  backdrop-filter: blur(5px);
}

.products-container-no-blur {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--primary-color);
  width: 100%;
  height: 100%;
  gap: 20px;
}

.prod {
  width: 23%;
}

.tape-banner-container {
  display: flex;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  min-height: 550px;
}

.tutorial-image-container {
  filter: grayscale(100%);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  grid-template-rows: 1fr 1fr;
  width: 70%;
}

.taping-img {
  width: 100%;
}

.tutorials-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  margin-top: auto;
  padding-bottom: 20px;
  align-items: end;
  justify-content: end;
}

.tutorials-text > h2 {
  font-size: clamp(25px, 5vw, 38px);
  font-family: 'Poppins', sans-serif;
}

.tutorials-text > p {
  font-size: 18px;
  font-size: clamp(14px, 2vw, 20px);
}

.bottom-right {
  padding-right: 20px;
  padding-bottom: 40px;
  padding-left: 20px;
  text-align: right;
}

.middle {
  align-self: center;
}

.tutorial-button {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-size: clamp(16px, 5vw, 20px);
  margin-bottom: auto;
  padding-bottom: 10px;
  cursor: pointer;
  transition: color 0.5s ease;
}

.tutorial-button::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 5px; /* Height of the bottom border */
  background-color: var(--primary-bg-color);
  transition: width 0.5s ease; /* Transition for width */
}

.tutorial-button:hover {
  color: var(--primary-bg-color);
}

.tutorial-button:hover::after {
  width: 110%; /* Expand the border width to 100% on hover */
}

.packs-banner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
}

.packs-info-container {
  display: flex;
}

.packs-text {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  align-items: end;
  height: 100%;
  width: 30%;
}

.packs-text > h2 {
  /* font-size: 38px; */
  font-size: clamp(25px, 5vw, 38px);
  font-family: 'Poppins', sans-serif;
  padding-bottom: 40px;
}

.packs-text > p {
  font-size: 18px;
  padding-bottom: 40px;
  margin-left: 130px;
  text-align: right;
}

.packs-image {
  margin-right: auto;
  margin-left: auto;
  width: 60%;
}

.outside {
  display: none;
}

.mobile-col {
  @media (max-width: 912px) {
    flex-direction: column;
  }
}

.mobile-menu-hidden {
  transform: translateX(-100%);
  transition: transform 0.2s ease-in;
}

.mobile-menu-visible {
  transform: translateX(0%);
}

.mobile-only {
  display: none;
  @media (max-width: 912px) {
    display: flex;
  }
}

.desktop-only {
  @media (max-width: 912px) {
    display: none;
  }
}

/* ---------------------- TRANSITIONS --------------------- */

.hidden-section {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 1s ease;
}

.hidden-prod {
  opacity: 0;
  filter: blur(10px);
  transform: translateX(-100%);
  transition: all 1s ease;
}

.hidden-n {
  opacity: 0;
  filter: blur(10px);
  transition: all 1s ease;
}

.visible-section {
  filter: blur(0);
  transform: translateX(0%);
  opacity: 1;
}

.prod:nth-child(1) {
  transition-delay: 0ms;
}

.prod:nth-child(2) {
  transition-delay: 200ms;
}

.prod:nth-child(3) {
  transition-delay: 400ms;
}

.prod:nth-child(4) {
  transition-delay: 600ms;
}

/* --------- MEDIA QUERIES --------- */

@media (max-width: 912px) {
  .full-container {
    background-color: transparent;
    position: relative;
    height: 100vh;
  }

  .flex-container-home {
    flex-direction: column;
    min-height: fit-content;
  }

  .clubs-text {
    flex-direction: column;
    justify-content: center;
  }

  .club-text-p {
    max-width: 90vw;
    padding-right: 30px;
    padding-left: 30px;
    margin-bottom: 80px;
  }

  .clubs-grid {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    padding-bottom: 50px;
    padding-top: 30px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .half-image {
    width: 100vw;
  }

  .family-container {
    border-left-width: 0;
    border-top-width: 8px;
    padding: 0;
  }

  .family-container > h1 {
    padding-top: 40px;
    padding-right: 30px;
    padding-left: 30px;
  }

  .half-container {
    height: 70vh;
  }

  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/0861/6149/0212/files/kineSportTape.jpg?v=1708721802');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -999;
    filter: blur(3px);
  }

  .pick-up-bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url('https://cdn.shopify.com/s/files/1/0643/3554/4485/files/pickupBanner.jpg?v=1724796571');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .image-container {
    display: none;
  }

  .products-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 10px;
  }

  .products-container-no-blur {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 10px;
  }

  .prod {
    width: 45vw;
    margin-left: 10px;
    margin-right: 10px;
  }

  .hidden-prod {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }

  .tape-banner-container {
    /* display: block; */
    flex-direction: column;
    height: 100%;
  }

  .tutorial-image-container {
    overflow: hidden;
    width: 100%;
  }

  .taping-img {
    width: 100%;
  }

  .tutorials-text {
    margin-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .bottom-right {
    text-align: center;
  }

  .tutorial-button {
    margin-bottom: 0;
  }

  .packs-info-container {
    height: 100%;
    flex-direction: column;
    overflow: hidden;
  }

  .packs-text {
    height: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    align-items: center;
  }

  .packs-text > p {
    text-align: center;
    margin: 10px;
  }

  .packs-image {
    margin: 0;
    width: 130%;
    mask: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 1) 12.5%,
      rgba(0, 0, 0, 0.2) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  }

  .inside {
    display: none;
  }

  .outside {
    display: block;
    align-self: center;
    margin-top: 20px;
  }
}
