:root {
  --primary-bg-color: #242424;
  --primary-color: #000000;
  --secondary-color: #e5d201;
  --third-color: rgba(255, 255, 255, 0.87);
}

.preview-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
  border: 2px solid transparent;
  transition: all 0.5s ease;
  cursor: pointer;
}

.text-font {
  font-family: 'Roboto Mono', monospace;
}

.title-font {
  font-family: 'Montserrat', sans-serif;
}

.images-container {
  width: 100%;
}

.prod-image {
  width: 100%;
}

.prod-name {
  color: var(--third-color);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.5s ease;
}

.prod-name-title {
  color: var(--third-color);
  font-size: 24px;
  font-family: 'Poppins', sans-serif;
  transition: color 0.5s ease;
}

.highlight {
  color: var(--secondary-color);
  font-style: italic;
}

.big {
  font-size: 60px;
}

.mid {
  font-size: 25px;
}

.smid {
  font-size: 23px;
}

.info {
  margin: 10px;
}

.features-container-par {
  padding: 15px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border-radius: 3px;
}

.features-container-impar {
  padding: 15px;
  background-color: var(--third-color);
  color: var(--primary-color);
  border-radius: 3px;
}

.prod-price {
  color: var(--third-color);
  /* font-family: 'Monserrat', sans-serif; */
  transition: color 0.5s ease;
}

.discounted-price-true {
  text-decoration: line-through;
}

.preview-container:hover .prod-name {
  color: var(--primary-color);
}

.preview-container:hover .prod-price {
  color: var(--primary-color);
}

.preview-container:hover {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--secondary-color);
}

.add-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  cursor: pointer;
  background-color: #e5d201c0;
  transition: background-color 0.3s ease, font-size 0.3s ease;
  margin-bottom: 10px;
}

.add-button:hover {
  font-size: 17px;
  background-color: var(--secondary-color);
}

.no-stock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8vh;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: var(--primary-color);
  background-color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

.overview-container {
  margin-top: 80px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 64vw;
}

.all-features-container {
  margin-top: 80px;
  width: 64vw;
}

.features-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 8px;
}

@media (max-width: 912px) {
  .all-features-container {
    margin-top: 60px;
    width: 90vw;
  }
  .features-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 8px;
  }

  .overview-container {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 0;
  }

  .overview-container > h1 {
    margin-top: 60px;
    margin-bottom: 40px;
  }

  .preview-container {
    height: 100%;
    width: 45vw;
  }

  .smid {
    font-size: clamp(15px, 5vw, 23px);
  }

  .prod-description {
    font-size: clamp(14px, 5vw, 20px);
  }

  .info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
  }

  .prod-name {
    font-size: 16px;
  }

  .prod-name-title {
    font-size: clamp(24px, 10vw, 60px);
  }

  .prod-price {
    font-size: 12px;
  }

  .prod-price-expanded {
    font-size: 24px;
  }
}
