:root {
  --primary-bg-color: #242424;
  --primary-color: #000000;
  --secondary-color: #e5d201;
  --third-color: rgba(255, 255, 255, 0.87);
}

.shop-section {
  height: fit-content;
}

.shop-banner {
  position: relative;
  display: flex;
  width: 100%;
  height: 80vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  /* font-size: 90px; */
  font-size: clamp(60px, 10vw, 90px);
  font-family: 'Poppins', sans-serif;
  text-shadow: 4px 4px 4px var(--primary-bg-color);
}

.banner-bg {
  position: absolute;
  background-image: url('https://cdn.shopify.com/s/files/1/0643/3554/4485/files/shopBanner-resize.jpg?v=1709160955');
  background-size: cover;
  background-position: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  z-index: -1;
}

.shop-banner-image {
  width: 100%;
}

.tape-type-selector-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: 70vh;
  padding-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 50px 0;
}

.type-option {
  position: relative;
  display: flex;
  background-color: transparent;
  width: 30vw;
  height: 30vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 45px;
  font-size: clamp(25px, 8vw, 45px);
  transition: all 0.3s ease;
  cursor: pointer;
}

.type-option:hover {
  font-size: 55px;
  color: var(--secondary-color);
}
.type-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 10px;
  /* filter: blur(3px); */
}

.shop-title {
  display: flex;
  height: 20vh;
  background-color: var(--secondary-color);
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  margin-top: 10px;
  font-size: clamp(20px, 7vw, 50px);
  padding: 10px;
}

.filters-product-wrapper {
  display: flex;
  width: 100%;
  background-color: var(--primary-color);
}

.filters-container {
  width: 20vw;
}

.shop-grid-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shop-products-grid {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  gap: 60px 0px;
}

.product-in-grid {
  width: 23vw;
}

.pagination-button {
  width: fit-content;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.pagination-button:hover {
  color: #e5d20171;
}

/* ---------------------- FILTERS ------------------------- */

.prod-info-dpd-wrapper {
  position: --webkit-sticky;
  position: sticky;
  top: 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.drop-down-info {
  display: flex;
  align-items: center;
  position: relative;
  height: 8vh;
  background-color: var(--secondary-color);
  cursor: pointer;
  margin-top: 10px;
  transition: margin-bottom 0.5s ease;
  color: var(--primary-color);
}

.nested-menus {
  display: flex;
  flex-direction: column;
}

.drop-down-info > h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-left: 15px;
}

.drop-down-info > svg {
  font-size: 22px;
  margin-left: auto;
  margin-right: 15px;
  rotate: -90deg;
  transition: rotate 0.5s ease;
}

.drop-down-info:hover {
  margin-bottom: 50vh;
}

.drop-down-info:hover > .big-item {
  height: 100vh;
}

.drop-down-info:hover > .mid-item {
  height: 50vh;
}

.drop-down-info:hover > .item {
  opacity: 1;
  transform: translateY(0);
}

.drop-down-info:hover > svg {
  rotate: 0deg;
}

.item {
  /* transform: translateY(-100%); */
  color: var(--primary-color);
  position: absolute;
  top: 100%;
  height: 0;
  width: 100%;
  opacity: 0;
  transition: all 0.5s ease;
  overflow: hidden;
}

@media (max-width: 912px) {
  .tape-type-selector-container {
    display: none;
  }

  .filters-product-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--primary-color);
  }

  .filter-toggle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-color);
    width: fit-content;
    margin-right: auto;
    padding: 5px;
  }

  .filters-container {
    display: none;
  }

  .shop-grid-container {
    width: 100vw;
  }

  .shop-title {
    width: 100vw;
  }

  .shop-products-grid {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    /* margin-left: 10px;
    margin-right: 10px; */
    gap: 60px 10px;
  }

  .product-in-grid {
    width: 45vw;
  }
}
